- if ! defined? @patients
  %h3 查询结果
- elsif @patients.empty?
  %h3 查询结果
  .panel
    %p 没有符合搜索条件的病例.
- else
  %h3
    查询结果
    %small 共有#{ @patients.total_count }例

  - operations = {view:{}}

  = render partial: 'shared/table', locals: { columns: [:pid, :hosptalization_number, :name], collection: @patients, operations: operations,
                                          url_method: {view: (method :patient_path)}, tar: :_blank }

  - [:authenticity_token, :commit, :page, :utf8].each do |p|
    - params.delete(p)

  = paginate @patients, window: 10

  -#-if can? :export, Patient
  -#  %br
  -#  %h3
  -#    导出结果
  -#    %small 请选择需要导出的表
  -#    = form_for :export, url: url_for(params.merge(format: :csv)), html: {id: :export}  do |f|
  -#      = f.collection_check_boxes :table, Patient::EXPORT_TABLE_NAMES.zip(I18n.t(Patient::EXPORT_TABLE_NAMES, scope: 'activerecord.models')), :first, :last
  -#      %div
  -#        = f.check_box :select_all
  -#        = f.label :select_all, t(:select_all)
  -#        = f.check_box :by_position
  -#        = f.label :by_position, '手术病灶分左右乳导出'
  -#      %div
  -#        = f.submit t(:export), class: [:button, :tiny, :radius]

= content_for :add_js do
  = javascript_include_tag 'search'