- writable = @medication_completion.new_record? || action_name == 'edit' || @medication_completion.errors.any?

= simple_form_for @medication_completion, url: patient_medication_completion_path(@patient), html: {'data-abide': '', class: writable ? nil : 'disabled'} do |f|
  - required = "必填"
  %fieldset
    %legend
      基本信息
    .row
      -if action_name=='edit'
        = f.input :visit_date, input_html: {disabled: :disabled}
        = f.input :if_followup, input_html: {disabled: :disabled}
      -else
        = f.input :visit_date
        = f.input :if_followup
      = f.input :height
      = f.input :weight
      = f.input :ECOG
      = f.input :physical_examination
      = f.input :description



    = f.simple_fields_for :blood_biochemistry_meds do |blood_biochemistries|
      = render 'fields_blood_biochemistry_med', f: blood_biochemistries

    - if writable
      .links
        = link_to_add_association "添加记录", f, :blood_biochemistry_meds, partial: 'fields_blood_biochemistry_med'


    = f.simple_fields_for :blood_routine_meds do |blood_routines|
      = render 'fields_blood_routine_med', f: blood_routines


    - if writable
      .links
        = link_to_add_association "添加记录", f, :blood_routine_meds, partial: 'fields_blood_routine_med'


    = f.simple_fields_for :tumor_maker_meds do |blood_routines|
      = render 'fields_tumor_maker_med', f: blood_routines


    - if writable
      .links
        = link_to_add_association "添加记录", f, :tumor_maker_meds, partial: 'fields_tumor_maker_med'

  %fieldset
    %legend
      乳房B超
    .row
      = f.input :breast_Bultra_date
      = f.input :breast_Bultra_diagnose
      = f.input :breast_abnormal

  %fieldset
    %legend
      腹部B超
    .row
      = f.input :abdo_Bultra_date
      = f.input :abdo_Bultra_diagnose
      = f.input :abdo_abnormalt


  - if writable
    = f.button :submit, class: [:small, :radius]
