- writable = @user.new_record? || action_name == 'edit' || @user.errors.any?

= simple_form_for @user, html: {'data-abide': '', class: writable ? nil : 'disabled'} do |f|
  - required = "必填"
  %fieldset
    %legend 基本信息
    .row
      = f.input :username
      = f.input :email, required: true
      = f.input :realname
      = f.input :phone

  %fieldset
    %legend 密码
    .row
      = f.input :password, required: @user.new_record? ? true : false
      = f.input :password_confirmation, required: @user.new_record? ? true : false

  %fieldset
    %legend 角色与中心
    .row
      = f.association :role,collection:@available_roles, label: "角色",as: :select, required: true,include_blank: false
      = f.association :centers,collection:Center.all, label: "中心",
       as: :check_boxes, required: true,value_method: :id, input_html: {disabled: :disabled}


    -#.row
    -#  = f.simple_fields_for :relationships do |relationships|
    -#    = render 'fields_relationships', f: relationships
    -#- if writable
    -#  .links
    -#    = link_to_add_association "添加记录", f, :relationships, partial: 'fields_relationships'
  - if writable
    = f.button :submit, class: [:tiny, :radius]
