%ul.side-nav
  - if @patient.persisted?
    %li
      %a.fi-x{href: patient_path(@patient), data: {method: 'delete', confirm: t('delete_confirm')}}
        删除此病例！
    %li.divider
    %a.fi-check{ href: patient_path(@patient) }
      = "基本信息"
    %li
      %ul
        %li
          %a= "ID: #{@patient.pid}"
        %li
          %a= "中心: #{@patient.center.name}"
        %li
          %a= "姓名: #{@patient.name}"
        %li
          %a= "状态: #{t @patient.status}"

      -if !@patient.group_information.nil? and !@patient.group_information.research_group.nil?
        %li
          %a= "研究干预(分组情况): #{@patient.group_information.research_group.name}"

      %li.divider
        %li
          -flag=@patient.group_information.try(:persisted?)
          %a{ href: flag ? send("patient_group_information_path", @patient) :send("new_patient_group_information_path", @patient) ,
                class: flag ? 'fi-check' : 'fi-pencil'}
            = "分组信息表"

      -if !@patient.group_information.nil? and !@patient.group_information.research_group.nil?
        %li
          -flag=@patient.basement_assessment.try(:persisted?)
          %a{ href: flag ? send("patient_basement_assessment_path", @patient) :send("new_patient_basement_assessment_path", @patient) ,
                class: flag ? 'fi-check' : 'fi-pencil'}
            = "基线评估"
        %li
          -flag=@patient.clinical_pathology.try(:persisted?)
          %a{ href: flag ? send("patient_clinical_pathology_path", @patient) :send("new_patient_clinical_pathology_path", @patient) ,
                class: flag ? 'fi-check' : 'fi-pencil'}
            = "临床病理"
        %li
          -flag=@patient.medication_completion.try(:persisted?)
          %a{ href: flag ? send("patient_medication_completion_path", @patient) :send("new_patient_medication_completion_path", @patient) ,
                class: flag ? 'fi-check' : 'fi-pencil'}
            = "用药完成/终止访视表"
        %li
          -flag=@patient.reserach_completion.try(:persisted?)
          %a{ href: flag ? send("patient_reserach_completion_path", @patient) :send("new_patient_reserach_completion_path", @patient) ,
                class: flag ? 'fi-check' : 'fi-pencil'}
            = "研究完成/终止访视表"

        %li
          %a.fi-check{ href: '#'}
            = "疗程表"

        %ul

          - if @patient.status.value==1 and @patient.courses.size>0
            %li
              -flag=@patient.course_monitor.try(:persisted?)
              %a{ href: flag ? send("patient_course_monitor_path", @patient) :'#',
                    class: flag ? 'fi-check' : 'fi-pencil'}
                = "疗程监视表"
          - @patient.courses.each_with_index do |course, i|
            - if course.persisted?
              %li
                %a.fi-check{ href: patient_course_path(@patient, course)}
                  = "疗程"+ (i+1).to_s
          -if (@patient.courses == nil || @patient.courses.size()<@patient.group_information.research_group.total_courses) and @patient.status.value<=1
            %li
              %a{href: new_patient_course_path(@patient)}
                %i.fi-pencil
                = "新建疗程"
        %li
          %a.fi-check{ href: '#'}
            = "不良事件报告"
          %ul
            - @patient.adverse_events.each_with_index do |adverse_event, i|
              - if adverse_event.persisted?
                %li
                  %a.fi-check{ href: patient_adverse_event_path(@patient, adverse_event)}
                    = "不良事件"+ (i+1).to_s
            %li
              %a{href: new_patient_adverse_event_path(@patient)}
                %i.fi-pencil
                = "新建不良事件"
        %li
          %a.fi-check{ href: '#'}
            = "放射治疗"
          %ul
            - @patient.radiation_therapies.each_with_index do |radiation_therapy, i|
              - if radiation_therapy.persisted?
                %li
                  %a.fi-check{ href: patient_radiation_therapy_path(@patient, radiation_therapy)}
                    = "放射治疗"+ (i+1).to_s
            %li
              %a{href: new_patient_radiation_therapy_path(@patient)}
                %i.fi-pencil
                = "新建放射治疗"
        %li
          %a.fi-check{ href: '#'}
            = "合并用药表"
          %ul
            - @patient.concomitant_drugs.each_with_index do |concomitant_drug, i|
              - if concomitant_drug.persisted?
                %li
                  %a.fi-check{ href: patient_concomitant_drug_path(@patient, concomitant_drug)}
                    = "合并用药"+ (i+1).to_s
            %li
              %a{href: new_patient_concomitant_drug_path(@patient)}
                %i.fi-pencil
                = "新建合并用药记录"

        %li
          %a.fi-check{ href: '#'}
            = "生物样本采集表"
          %ul
            - @patient.biological_sample_collections.each_with_index do |biological_sample_collection, i|
              - if biological_sample_collection.persisted?
                %li
                  %a.fi-check{ href: patient_biological_sample_collection_path(@patient, biological_sample_collection)}
                    = "采集记录"+ (i+1).to_s
            %li
              %a{href: new_patient_biological_sample_collection_path(@patient)}
                %i.fi-pencil
                = "新建采集记录"

        -if @patient.status.value==2
          %li
            %a.fi-check{ href: '#'}
              = "生存随访表"
            %ul

              - if @patient.status.value==2 and @patient.followups.size>0
                %li
                  -flag=@patient.followup_monitor.try(:persisted?)
                  %a{ href: flag ? send("patient_followup_monitor_path", @patient) :'#',
                        class: flag ? 'fi-check' : 'fi-pencil'}
                    = "随访监视表"

              - @patient.followups.each_with_index do |followup, i|
                - if followup.persisted?
                  %li
                    %a.fi-check{ href: patient_followup_path(@patient,followup)}
                      = "随访记录"+ (i+1).to_s
              %li
                %a{href: new_patient_followup_path(@patient)}
                  %i.fi-pencil
                  = "新建随访记录"
        %li
          -flag=@patient.death_record.try(:persisted?)
          %a{ href: flag ? send("patient_death_record_path", @patient) :send("new_patient_death_record_path", @patient) ,
                class: flag ? 'fi-check' : 'fi-pencil'}
            = "死亡记录表"











    -#%li.divider
    -#- [:history, :clinical, :imaging, :pathology, :neoadjuvant].each do |model|
    -#  %li
    -#    - ob = @patient.send model
    -#    - flag = ob.try(:persisted?)
    -#    %a{ href: flag ? send("patient_#{model}_path", @patient) : send("new_patient_#{model}_path", @patient),
    -#        class: flag ? 'fi-check' : 'fi-pencil'}
    -#      = t "activerecord.models.#{model}", default: model.to_s.humanize
    -#%li
    -#  %a{ href: ( flag = @patient.operation.try(:persisted?) ) ? patient_operation_path(@patient) : new_patient_operation_path(@patient),
    -#      class: flag ? 'fi-check' : 'fi-pencil'  }
    -#    = Operation.model_name.human
    -#  - if @patient.operation.try(:persisted?)
    -#    %ul
    -#      - @patient.operation_lesions.each_with_index do |lesion, i|
    -#        - if lesion.persisted?
    -#          %li
    -#            %a.fi-check{ href: patient_operation_lesion_path(@patient, lesion)}
    -#              = OperationLesion.model_name.human + (i+1).to_s
    -#      - if @patient.operation_lesions == nil || @patient.operation_lesions.length < @patient.operation.cancer_count
    -#        %li
    -#          %a{href: new_patient_operation_lesion_path(@patient)}
    -#            %i.fi-pencil
    -#            = t(:new) + OperationLesion.model_name.human
    -#

  %li.divider
    %li
      %a.fi-page-add{ href: new_patient_path }
        添加新病例

  -#%li.divider
  -#
  -#%li
  -#  %a{ href: patients_path }= t :back