.contain-to-grid
  %nav.top-bar{'data-topbar' => '', :role => 'navigation'}
    %ul.title-area
      %li.name
        %h1
          %a{:href => '#'}
            = image_tag 'ecrf_logo.png', alt: 'logo'
            %span
      -# Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => '#'}
          %span Menu

    %section.top-bar-section
      -# Right Nav Section
      %ul.right
        - if user_signed_in? and project_signed_in?
          %li
            %a{:href => welcome_guide_path }= "导航页"
          %li.divider
          - if !current_project_name.nil?
            %li.has-dropdown
              %a{:href => '#'}
                %span= "当前项目:"+current_project_name
              %ul.dropdown
                %li
                  = link_to "注销项目", '/project_logout', method: :delete
          %li.divider
          %li.has-dropdown
            %a{:href => '#'}
              %span= current_user.realname
              %ul.dropdown
                %li
                  = link_to  "编辑个人信息", edit_user_registration_path
                %li
                  = link_to "注销用户", destroy_user_session_path, method: :delete
        - if user_signed_in? and !project_signed_in?
          %li
            %a{:href => project_system_configuration_path }= "导航页"
          %li.divider
          %li.has-dropdown
            %a{:href => '#'}
              %span= current_user.realname
            %ul.dropdown
              %li
                = link_to  "编辑个人信息", edit_user_registration_path
              %li
                = link_to "注销用户", destroy_user_session_path, method: :delete
        - if !user_signed_in?
          %li
            = link_to "注册请联系管理员", '#'