.contain-to-grid
  %nav.top-bar{'data-topbar' => '', :role => 'navigation'}
    %ul.title-area
      %li.name
        %h1
          %a{:href => '#'}
            = image_tag 'ecrf_logo.png', alt: 'logo'
            %span
      -# Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => '#'}
          %span Menu

    %section.top-bar-section
      -# Right Nav Section
      %ul.right
        - if user_signed_in?
          %li
            %a{:href => welcome_guide_path }= t :guide
          %li.divider
          - if !current_project_name.nil?
            %li
              %a= "Current Croject:"+current_project_name
          %li.divider
          - if current_user.center
            %li
              %a= "Center:"+current_user.center.name
            %li.divider
          %li.has-dropdown
            %a{:href => '#'}
              %span= current_user.realname
            %ul.dropdown
              %li
                = link_to  t(:edit_profile), edit_user_registration_path
              %li
                = link_to t(:sign_out), destroy_user_session_path, method: :delete
        - else
          %li
            = link_to t(:sign_in), new_user_session_path