- content_for :side_bar do
  %ul.side-nav.welcome
    %li.divider
    %li
      %h3= current_user.realname
    %li.divider
    %li
      %span.fi-results-demographics
        角色：
      %b= current_user.role.name
    %li.divider
    %li 登录信息
    %ul
      %li 第#{current_user.sign_in_count || 0}次登录
      %li 上次登录时间：#{ l(current_user.last_sign_in_at) }
    %li.divider

      %a{ href: '/monitor_checker' }
        = "监视器日志"

.row


  - can = can? :read, Center
  .columns.medium-6.guide{class: can ? nil : 'not-allowed'}
    %a{href: can ? users_path : nil}
      %h2
        = image_tag 'guide_system.png'
        系统管理
    -#  %h2
    -#%ul
    -#  %li
    -#    %a{href:users_path} 用户管理
    -#  %li
    -#    %a{href: roles_path} 角色和中心管理
    -#  %li
    -#    %a{href:'#'} 数据库备份

  - can = can? :read, Project
  .columns.medium-6.guide{class: can ? nil : 'not-allowed'}
    %a{href: can ? projects_path : nil}
      %h2
        = image_tag 'guide_system.png'
        项目管理
    -#%ul
    -#  %li
    -#    %a{href:projects_path} 项目列表
    -#  %li
    -#    %a{href: new_project_path} 新建项目
    -#  %li
    -#    %a{href:research_groups_path} 研究干预列表
    -#  %li
    -#    %a{href: new_research_group_path} 新建研究干预
  -#- can = can? :read, MonitorCheckersController
  -#.columns.medium-6.guide{class: can ? nil : 'not-allowed'}
  -#  %a{href: can ? '/monitor_checker' : nil}
  -#    %h2
  -#      = image_tag 'guide_system.png'
  -#      监视器日志
  .columns.medium-6.guide{}
    %a{href: project_login_path}
      %h2
        = image_tag 'guide_patient.png'
        进入项目
  .columns.medium-6.guide{}
    %a{href: edit_user_registration_path}
      %h2
        = image_tag 'guide_system.png'
        个人资料
