- content_for :side_bar do
  %ul.side-nav.welcome
    %li.divider
    %li
      %h3= current_user.realname
    %li.divider
    %li
      %span.fi-results-demographics
        角色：
      %b= current_user.role.name

    %li
      %span.fi-marker
        本项目授权中心：
      %b= @available_centers

    %li.divider
    %li 登录信息
    %ul
      %li 第#{current_user.sign_in_count || 0}次登录
      %li 上次登录时间：#{ l(current_user.last_sign_in_at) }



.row

  .columns.medium-6.guide{}
    %a{href:patients_path}
      %h2
        = image_tag 'guide_patient.png'
        病例维护
    %ul
      %li
        %a{href: new_patient_path} 新建病例



  .columns.medium-6.guide{}
    %a{href: '#'}
      %h2
        = image_tag 'guide_stats.png'
        病例查询
    %ul
      %li
        %a{href:'#'}基本查询
      %li
        %a{href: '#'}高级查询
      %li
        %a{href: '#'} 自定义查询


  .columns.medium-6.guide{class: nil}
    %a{href:'#'}
      %h2
        = image_tag 'guide_search.png'
        数据分析
    %ul
      %li
        %a{href:'#'}病例数量统计
      %li
        %a{href:'#'} 专业统计
      %li
        %a{href: '#'} 数据库情况统计
  -## TODO: inputer can enter user index??


  .columns.medium-6.guide{class: nil}
    %a{href: '#'}
      %h2
        = image_tag 'guide_system.png'
        系统管理
    %ul
      %li
        %a{href:users_path} 用户管理
      %li
        %a{href: roles_path} 角色和中心管理
      %li
        %a{href:'#'} 数据库备份

  .columns.medium-6.guide{class: nil}
    %a{href: '#'}
      %h2
        = image_tag 'guide_system.png'
        项目管理
    %ul
      %li
        %a{href:projects_path} 项目列表
      %li
        %a{href: new_project_path} 新建项目
      %li
        %a{href:research_groups_path} 研究干预列表
      %li
        %a{href: new_research_group_path} 新建研究干预


  .columns.medium-6.guide{class: nil}
    %a{href: '#'}
      %h2
        = image_tag 'guide_patient.png'
        研究监察
    %ul
      %li
        %a{href:'#'} 监察列表
      %li
        %a{href:'#'} 新建监察


