- content_for :side_bar do
  = render 'shared/sidebar_patient_overview'

.row
  .columns
    %h3.page-header
      总体情况
  .columns.medium-6.border-right
    %ul.square
      %li
        本研究计划入组病例数：
        %span.radius.secondary.label
          %b= "#{@project_total_planned_patients}"
      %li
        本研究实际入组病例数：
        %span.radius.secondary.label
          %b= "#{@project_total_patients}"
      %li
        授权中心计划入组病例数：
      %ul.square
        -@center_planned_patients.each do |center,pcount|
          %li
            %b="#{center}"
            %span.radius.secondary.label
              %b= "#{pcount}"
      %li
        授权中心实际入组病例数：
      %ul.square
        -@center_patients.each do |center,pcount|
          %li
            %b="#{center}"
            %span.radius.secondary.label
              %b= "#{pcount}"


    %h3.page-header 任务表
    %ul.square
      %li
        %span 截止今日需进行研究干预的患者数：
        %a{:href => research_queue_patients_path}
          %i.fi-clipboard-pencil
          %b= "#{@research_queue_size}"
      %li
        %span 截止今日需进行随访的患者数：
        %a{:href => followup_queue_patients_path}
          %i.fi-clipboard-pencil
          %b= "#{@followup_queue_size}"

