- writable = @radiation_therapy.new_record? || action_name == 'edit' || @radiation_therapy.errors.any?

= simple_form_for [@patient,@radiation_therapy], html: {'data-abide': '', class: writable ? nil : 'disabled'} do |f|
  - required = "必填"
  %fieldset
    %legend
      基本信息
    .row
      = f.input :is_radiation
    .row
      = f.input :radiotherapy_site, collection: f.object.options('radiotherapy_site'), as: :check_boxes
    .row
      = f.input :therapy_type
      = f.input :radiotherapy_dose
    .row
      = f.input :radiotherapy_start_date,as: :date, start_year: Date.today.year - 10,
                              end_year: Date.today.year+2
      = f.input :radiotherapy_end_date,as: :date, start_year: Date.today.year - 10,
                              end_year: Date.today.year+2


  - if writable
    = f.button :submit, class: [:small, :radius]
