- writable = @clinical_pathology.new_record? || action_name == 'edit' || @clinical_pathology.errors.any?

= simple_form_for @clinical_pathology, url: patient_clinical_pathology_path(@patient), html: {'data-abide': '', class: writable ? nil : 'disabled'} do |f|
  - required = "必填"
  %fieldset
    %legend
      基本临床病理信息
    .row

      = f.input :primary_lesion
      = f.input :regional_lympth_node
      = f.input :matastasis
      = f.input :histological_type
      = f.input :histological_grading
      = f.input :vascular_invasion
      = f.input :ER
      = f.input :PR
      = f.input :HER2_IHC
      = f.input :HER2_FISH
      = f.input :Ki67
      = f.input :AR
      = f.input :date_of_operation,as: :date, start_year: Date.today.year - 10,
                              end_year: Date.today.year+2


  = f.simple_fields_for :history_of_nonbreast_cancers do |history_of_nonbreast_cancers|
    = render 'fields_history_of_nonbreast_cancer', f: history_of_nonbreast_cancers


  - if writable
    .links
      = link_to_add_association "添加记录", f, :history_of_nonbreast_cancers, partial: 'fields_history_of_nonbreast_cancer'
    = f.button :submit, class: [:small, :radius]
