- writable = @followup.new_record? || action_name == 'edit' || @followup.errors.any?

= simple_form_for [@patient,@followup], html: {'data-abide': '', class: writable ? nil : 'disabled'} do |f|
  - required = "必填"
  %fieldset
    %legend
      基本信息
    .row
      = f.input :date_of_visit,as: :date, start_year: Date.today.year - 10,
                              end_year: Date.today.year+2
      = f.input :local_recurrence

      = f.input :date_of_local_recurrence,as: :date, start_year: Date.today.year - 10,
                              end_year: Date.today.year+2
      = f.input :matastasis

      = f.input :date_of_matastasis,as: :date, start_year: Date.today.year - 10,
                              end_year: Date.today.year+2
      = f.input :contralateral_breast_cancer

      = f.input :date_of_contralateral_breast_cancer,as: :date, start_year: Date.today.year - 10,
                              end_year: Date.today.year+2
      = f.input :second_primary_cancer

      = f.input :date_of_second_primary_cancer,as: :date, start_year: Date.today.year - 10,
                              end_year: Date.today.year+2
      = f.input :death

      = f.input :date_of_death, start_year: Date.today.year - 10,
                              end_year: Date.today.year+2
      = f.input :cause_of_death


  - if writable
    = f.button :submit, class: [:small, :radius]
