- required = "必填"
.nested-fields
  %fieldset
    %legend
      非靶病灶
      = link_to_remove_association "delete", f, data: {confirm: "Do you wanna to delete?"}

    - if f.object.persisted?
      = f.hidden_field :id, value: f.object.id

    .row
      = f.input :position, front_error: required
      = f.input :inspection_method, front_error: required
      = f.input :is_exist, front_error: required