%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "eCRF system"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render 'shared/top_bar'
    = render 'shared/notify'

    .row.main
      .columns.medium-3
        = yield :side_bar

      .columns.medium-9
        = yield

    .row.footer-wrap
      = render 'shared/footer'

    = javascript_include_tag 'delay', 'data-turbolinks-track' => true
    = yield :add_js